<div>
  <table class="table">
    <tr *ngFor="let row of pokemonListChunks">
      <ng-container *ngFor="let pokemon of row">
        <td *ngIf="pokemon">
          <a [routerLink]="['/details', pokemon.name]">
            <img
              [src]="
                'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + pokemon.url.split('/').slice(-2, -1) + '.png'
              "
              alt="{{ pokemon.name }}"
            />
            {{ toUppercase(pokemon.name) }}
          </a>
        </td>
      </ng-container>
    </tr>
  </table>
</div>
<div>
  <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
  Page {{ currentPage }} of {{ totalPages }}
  <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages - 1">Next</button>
</div>
