<div>
  <table class="table">
    <tr *ngFor="let row of pokemonListChunks">
      <ng-container *ngFor="let pokemon of row">
        <td *ngIf="pokemon">
          <a [routerLink]="['/details', pokemon.name]">
            <img
              [src]="
                'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + pokemon.url.split('/').slice(-2, -1) + '.png'
              "
              alt="{{ pokemon.name }}"
            />
            {{ toUppercase(pokemon.name) }}
          </a>
        </td>
      </ng-container>
    </tr>
  </table>
</div>
<div>
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="onPageChange(currentPage - 1)" tabindex="-1" [attr.aria-disabled]="currentPage === 1">Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
      <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="onPageChange(currentPage + 1)" [attr.aria-disabled]="currentPage === totalPages">Next</a>
    </li>
  </ul>
</div>

<jhi-item-count [params]="{ page: currentPage, totalItems: totalPokemon, itemsPerPage: pageSize }"></jhi-item-count>
