<div *ngIf="pokemonDetails" class="pokemon-details">
  <div class="pokemon-image">
    <h2>{{ toUppercase(pokemonDetails.name) }}</h2>
    <img [src]="pokemonDetails.sprites.front_default" alt="{{ pokemonDetails.name }}" />
  </div>
  <div class="pokemon-info">
    <h3>Abilities:</h3>
    <ul>
      <li *ngFor="let ability of pokemonDetails.abilities">
        {{ ability.ability.name }}
      </li>
    </ul>
    <h3>Type:</h3>
    <ul>
      <li *ngFor="let type of pokemonDetails.types">
        {{ type.type.name }}
      </li>
    </ul>
    <h3>Stats:</h3>
    <ul>
      <li *ngFor="let stat of pokemonDetails.stats">{{ stat.stat.name }} : {{ stat.base_stat }}</li>
    </ul>
  </div>
  <div>
    <!-- Pokemon details display -->
    <button (click)="goBack()">Back to Pokemon List</button>
  </div>
  <!-- Add more details as needed -->
</div>
